<header>
  <app-nav></app-nav>
  <div class="tagline">
      
    <h1>Get To Know about BlockChain Technology<br/>Security Ensured</h1>
    <a><p>Blockchain,originally block chain,is a growing list of records, called blocks, which are linked using cryptography.Each block contains a cryptographic hash of the previous block,a timestamp, and transaction data (generally represented as a merkle tree root hash).</p></a>
    <div>
        <a href="#" class="contact">Get Started</a> 
        <a href="#" class="learn-more">Learn More</a> 
    </div>
   
  </div>
 
  <img src="/assets/app-development.png" />
 <div class="overlay"></div>
</header>
